@use '../../../mixins/mixin.scss' as m;

.about {
    background-color: var(--color-black-light);
    color: var(--color-white);
    height: auto;
    display: flex;
    align-items: center;
		width: 100%;
		margin-top: 10rem;
		padding: 2rem 0;
}

.container {
	@include m.default-padding;
	max-width: 1268px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
	justify-content: center;

	img:first-child {
		position: relative;
		top: -4rem;
	}
}

.image {
	border-radius: 16px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	margin: 0 auto;
}

.description {
	padding: 0 3rem;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}
