@use '../../../mixins/mixin.scss' as m;

.footer {
	display: flex;
	height: 90px;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	max-width: 1268px;
	width: 100%;

	@include m.default-padding;
}

.nav {
	display: flex;
	gap: 4rem;
	align-items: center;
	justify-content: space-between;
	font-weight: 600;
	font-size: 1.250rem;

	& > ul {
		display: flex;

		& > li {
			margin-right: 2rem;
			list-style: none;
		}
	}

	a {
		color: #f5f7fa;
		transition: color 0.2s ease-in-out;

		&:hover {
			color: var(--color-orange);
		}
	}
}
