@use '../../../mixins/mixin.scss' as m;

.header {
	display: flex;
	height: 90px;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-black);
	max-width: 1268px;
	width: 100%;
	margin: 0 auto;

	@include m.default-padding;

	@media (max-width: 1024px) {
		.nav {
			display: none;
		}
		.menu {
			display: flex;
		}
	}
}

.logo {
	width: 260px;
	height: 40px;
}

.menu {
	display: none;
	background-color: transparent;
	border: none;
	padding: 8px;
	cursor: pointer;

	&:hover {
		border-radius: 5px;
	}
}

.nav {
	margin-left: 1rem;
	display: flex;
	gap: 4rem;
	align-items: center;
	justify-content: space-between;
	font-weight: 600;
	font-size: 1.250rem;

	a {
		color: #f5f7fa;
		transition: color 0.2s ease-in-out;

		&:hover {
			color: var(--color-orange);
		}
	}
}
