:root {
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --color-black: #1b1f24;
	--color-black-light: #22272f;
  --color-black-hover: ##a3a5a7;
  --color-white: #f5f7fa;
  --color-orange: #f3a903;
  --color-orange-hover: #fadc9a;
  --color-blue: #1c1e53;
  --color-blue-hover: #a4a5ba;

}

button {
  background-color: var(--color-orange);
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  padding: 0.6em 1.2em;
  cursor: pointer;
  color: var(--color-white);
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: var(--color-orange-hover);
    color: var(--color-blue);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: auto;
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: 'Nunito Sans', sans-serif;
	scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
